
<h2>Bejelentkezés</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <div class="form-group">
    <label for="username">Felhasználónev</label>
    <input type="text" class="form-control" 
    name="username" formControlName="username">
  </div>

  <div class="form-group">
    <label for="password">Jelszó</label>
    <input type="password" class="form-control" 
    name="password" formControlName="password">

  </div>

  <button type="submit" class="btn btn-primary mt-3">
    Bejelentkezés
  </button>
</form>